.first { background-color: green;
color: black;
border-style: solid;
border-color: black;
border-width: 10px;
border-radius: 10px;
margin: 30px;
padding-left: 20px;
padding-right: 25px;
margin-left: 20px;
margin-right: 20px;
width: 15cm

}
.question { 
    color: azure;
    background-color: blue;
    border-style: solid;
    border-color:rgb(12, 8, 8);
     
    border-width: 5px;
    border-radius: 5px;
    margin: 25px;
    padding-left: 30px;
    margin-left: 35px;
    margin-right: 35px;
    
}
.Answer { background-color: green;
    color: black;
    border-style: solid;
    border-color: rgb(24, 24, 110);
    border-width: 5px;
    border-radius: 5px;
    padding-left: 15px;
    margin-left: 30px;
    margin-right: 30px;
    
    
}
body { background-image: url( backgroung.jpg);}